<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!-- 在此配置区域节点01-->
  <configSections>
    <section name="District" type="System.Configuration.SingleTagSectionHandler" />
    <section name="Part" type="System.Configuration.SingleTagSectionHandler" />
    <section name="Year" type="System.Configuration.SingleTagSectionHandler" />
    <section name="month" type="System.Configuration.SingleTagSectionHandler" />
    <section name="spmark" type="System.Configuration.SingleTagSectionHandler" />
    <section name="flowone" type="System.Configuration.SingleTagSectionHandler" />
    <section name="flowtwo" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <appSettings>

    
    <add key="projectpath" value="http://192.168.16.109:8066/img/"/>
    <add key="absolutepath" value="C:\\Users\\work\\Documents\\Visual Studio 2010\\Projects\\WebPhone\\WebPhone\\img"/>
  
    <add key="ck1" value="bj0001_北京仓库,sh0001_上海仓库,gz0001_广州仓库,xn0001_西南仓库,bjt0001_北京特殊仓,bj0002_北京超期胎仓库,sh0002_上海超期胎仓库,gz0002_广州超期胎仓库,xn0002_西南超期胎仓库"/>
    <add key="lunbo" value="lunbo"/>
    <add key="zhanshi" value="zhanshi"/>
  </appSettings>

  <!--注意是要单个节SingleTagSectionHandler才能处理，但是无论你索性有多少个也能处理-->
  <District one="广州" two="上海" three="北京"/>
  <Part one="仓库管理员" two="信息查看员" three="系统管理员" />
  <Year one="2014" two="2015" />
  <month one="201409" two="201410" three="201411" four="201412" five="201501" six="201502" seven="201503" />
  <spmark type1="正常入库" type2="正常销售" type3="退货入库" type4="仓库调拨" type5="货品内销" type45="置换出库" type6="特殊削减" type7="特殊出库" type8="特殊入库"  type9="大客户出库" type10="大客户入库"/>
  <flowone flow1="待管理员反馈" flow2="待分配查货反馈" flow3="待分配查货反馈"  flow4="待管理员上传下单反馈" flow5="已分配查货反馈" flow6="已完成下单反馈"   />
  <flowtwo flow1="待管理员反馈" flow2="待分配下单反馈" flow3="待分配下单反馈"  flow4="已分配下单反馈" flow5="已分配下单反馈" flow6="已完成下单反馈"  />

  <!-- 在此配置区域节点01 -->


  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->

     <add name="Con" connectionString="Data Source=.;Initial Catalog=product_0427;   Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--server=218.106.246.182;user id=zsywrite;password=zsywrite;-->
    <!--<add name="Con" connectionString="Data Source=.;Initial Catalog=product0108;   Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Con" connectionString="Data Source=.;Initial Catalog=prodoct;Integrated Security=True" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>


  <system.web>
    <sessionState mode="InProc" timeout="30"/>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>






</configuration>
